.container {
    max-width: rem-calc(600);
    height: rem-calc(900);
    margin: rem-calc(0) auto;
    padding: rem-calc(20) rem-calc(70);
    box-sizing: border-box;
    overflow: hidden;
    // background-color: #f5f5f5;
    border-radius: rem-calc(8);
    box-shadow: 0 rem-calc(2) rem-calc(10) rgba(0, 0, 0, 0.1);
  }